<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266145812182-v82rc2jgu1tjp27mmrbvgg59fv3pcduq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266145812182-v82rc2jgu1tjp27mmrbvgg59fv3pcduq</string>
	<key>API_KEY</key>
	<string>AIzaSyAnnGV0zsi7cZuYatVg5yuJtP075Hu_fho</string>
	<key>GCM_SENDER_ID</key>
	<string>266145812182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-88413</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-88413.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266145812182:ios:df3f83118fc5492130c377</string>
</dict>
</plist>